{% extends 'base.html' %}

{% block titulo %}
    Registrar  empleado
{% endblock titulo %}
   

{% block content %}
{% include 'includes/header.html' %}   

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registrar empleado</h1>
        <form class="cell grid-x grid-margin-x" method="POST"  enctype="multipart/form-data" >{% csrf_token %}
            <div class="medium-6 cell">
                  <label>Nombres:
                      {{form.first_name}}
                    </label>
                  </div>
                  <div class="medium-6 cell">
                    <label>Apellidos:
                      {{form.last_name}}
                    </label>
                  </div>
                  <div class="medium-6 cell">
                    <label>Trabajo:
                      {{form.job}}
                    </label>
                  </div>
                  <div class="medium-6 cell">
                    <label>Area:
                      {{form.departamento}}
                    </label>
                  </div>
                  <div class="medium-12 cell">
                    <label>Habilidades extra:
                      {{form.habilidades}}
                    </label>
                    <div class="medium-12 cell">
                      <label>Foto:
                        {{form.avatar}}
                      </label>
                  </div>
                  <div class="medium-12 cell">
                    <button type="submit" class=" success button">Guardar</button>
                  </div>
                  
                </label>
              </div>
        </form>
</div>

{% endblock content %}
    