{% extends 'base.html' %}
{% block titulo %}Lista departamento{% endblock titulo %}

{% block content %}
{% include "includes/header.html" %}

    <div class="grid-container" >
        <div class="grid-x">
            <h1 class="cell"> Lista de departamentos </H1>
            <div class="cell">
                <table>
                    <tbody>
                        
                        {% for depa in departamentos %}
                        <tr>
                            <td>{{depa.name}} </td>
                            <td>{{depa.short_name}}</td>
                            <td><a class="button warning" href="{% url 'persona_app:empleados_area' depa.short_name %}">Ver empleados </a></td>
                        </tr>  
                        {% endfor %}
                            
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}